
/* custom animate css */

.animate__delay-0-1s {
    animation-delay: 0.1s;
}
.animate__delay-0-2s {
    animation-delay: 0.2s;
}
.animate__delay-0-3s {
    animation-delay: 0.3s;
}
.animate__delay-0-4s {
    animation-delay: 0.4s;
}
.animate__delay-0-5s {
    animation-delay: 0.5s;
}
.animate__delay-0-6s {
    animation-delay: 0.6s;
}
.animate__delay-0-7s {
    animation-delay: 0.7s;
}
.animate__delay-0-8s {
    animation-delay: 0.8s;
}
.animate__delay-0-9s {
    animation-delay: 0.9s;
}

.data-\[state\=active\]\:text-foreground[data-state="active"] {
    color: var(--primary);
}

.sub_title {
    color: var(--lemon-green);
    font-size: 16px;
    font-weight: 700;
}

.green-link {
    color: var(--lemon-green);
    text-decoration: underline;
    font-style: italic;
}

.lnk {
    text-decoration: underline;
    font-style: italic;
}

.error-404 .title {
    @apply text-[150px] md:text-[300px];
    /*font-size: 300px;*/
    line-height: 0.8;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.error-404 .title .main-title {
    background: linear-gradient( 92deg, #5a0dff 0%, #ff29b8 38.6%, #ff581c 97.73% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.error-404 .title .hover-title {
    color: #fff;
    position: absolute;
    left: -16px;
    top: 0;
}

.rounded-tr-7xl {
    border-top-right-radius: 100px;
}

.rounded-tr-4xl {
    border-top-right-radius: 35px;
}

.rounded-br-7xl {
    border-bottom-right-radius: 100px;
}

.rounded-br-4xl {
    border-bottom-right-radius: 35px;
}

.rounded-bl-7xl {
    border-bottom-left-radius: 100px;
}

.rounded-bl-4xl {
    border-bottom-left-radius: 35px;
}

.rounded-tl-7xl {
    border-top-left-radius: 100px;
}

.rounded-tl-4xl {
    border-top-left-radius: 35px;
}